<%- include ('header') -%>
<div class="container">
    <div class="mb-3 mt-5">
        <form action="/data" method="POST">
            <input class="form-control form-control-lg mb-3" type="text" placeholder="data 1" aria-label=".form-control-lg example" name="d1">
            <input class="form-control form-control-lg mb-3" type="text" placeholder="data2" aria-label=".form-control-lg example" name="d2">
            <input class="form-control form-control-lg mb-3" type="text" placeholder="data3" aria-label=".form-control-lg example" name="d3">
            <button type="submit" class="btn btn-success">Success</button>
        </form>

    </div>
</div>

<%- include ('footer') -%>